.SearchBox {
  margin-top: 20px;
}
.label {
  width: 300px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: 24px 0px 0px 125px;
}
.input {
  display: block;
  height: 30px;
  width: 400px;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: wheat;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
